*{
  margin:0;
  padding:0;
}

header{
  border-bottom: 1px solid #BF6586;
  height: 10vh;
  display:flex;
}

#logo{
  font-size: 6vh; 
  margin-left: 2%;
}

#logo img{
  height: 8vh;
}

#display{
  width: 50vw;
}

#user{
  width: 20vw;
}

main{
  margin: 2vh 2vw;
  min-height: 80vh;
}

#notes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card a{
  text-decoration: none;
}

#modal-view{
  border:1px solid #BF6586;
  position: absolute;
  display: none;
  width: 96vw;
  padding:10px;
  border-radius: 0.5rem 0.5rem;
}

#close-modal{
  float:right;
}

#modal{
  border:1px solid #BF6586;
  position: absolute;
  padding:2vh 2vw;
  display: none;
  width: 96vw;
  border-radius: 0.5rem 0.5rem;
}

#controls-note{
  display:flex;
  gap:10px;
}

.card-body{
  background-color: #BFBFBF;
}